/**
* Tablas
**/

.tables {
	width: 98%;
	border: 1px solid #CCC;
	  border-spacing:0;
  border-collapse:collapse;
	margin:left: auto;
	margin-right: auto;
  
}
.tables td {
	text-align: center;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.color1 {
	background-color: #E6E6E6;
}
.color2 {
	background-color: #F9F9F9;
}
.tables th {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #004080;
	color: #FFF;
}

