/**
 * Creado por Anibal Gomez -lastprophet
 * Basado en el código de el siguiente enlace:
 * http://jsfiddle.net/gabrieleromanato/nxXxB/
**/

#folder {
    margin: 0;
}

#folder > li {
	margin-bottom: 0.5em;
	color: #000;



}

#folder > li > a {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-indent: -1000em;
    background: url(../images/icons.png) no-repeat 0 -32px;
    margin-right: 5px;
}

#folder > li > a:active {background-position: 0 -16px;}



#folder > li > a + span {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding-left: 20px;
    font-weight: bold;
    background: url(../images/icons.png) no-repeat 0 0;
}

#folder > li ul {
    margin-left: 0;
    line-height: 1.4;
    display: none;
}

#folder > li ul:target {
    display: block;
}

li.leaf, li.collapsed, li.expanded {
	list-style-image: none;
	list-style-type: none;
}

ul {
	list-style-type: none;
}
#hide > li > a {
    
    width: 16px;
    height: 16px;
    text-indent: -1000em;
    margin-right: 5px;
	
}
