/**
* Hoja de estilos para Balero CMS -> MsgBox
* Forma de uso: $objeto = new MsgBox("Titulo", "Mensaje");
* Más info: http://balerocms.com
*/

.msgbox_middle {
	height: auto;
	background-color: #000000;
	color: #FFF;
	padding-left: 30px;
}
.msgbox_bottom {
	height: 16px;
	background-color: #000000;
	/* rounded corners */
	-webkit-border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
	color: #FFF;
	padding-left: 20px;
	margin-bottom: 20px;
}
.msgbox_top {
	height: 50px;
	padding-left: 40px;
	padding-top: 20px;
	/* rounded corners */
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: x-large;
}
